@import '../../sass/variables';

//CSS PROJECT COMPONENT ('BEHOLD MY STUFF AND DESCRIPTION')
.projects {
  color: $primary;
  padding-top: 3rem;
}

.projects-title {
  font-size: $large;
  font-weight: bolder;
  margin-left: 6.25rem;
  margin-bottom: 3rem;
  margin-top: 2.5rem;
}

.projects-description {
  font-size: $small;
  margin-left: 6.25rem;
  margin-bottom: 2rem;
}

//Mobile
@media screen and (max-width: 450px) {
  .projects {
    background-color: black;
  }

  .projects-title {
    margin-left: 1.5rem;
    // background-color: black;
    // width: 100%;
  }

  .projects-description {
    margin-left: 1.5rem;
    // background-color: black;
  }
}