@import '../../sass/variables';

.projects {
  color: $primary;
}

//CSS PROJECT COMPONENT ('BEHOLD MY STUFF AND DESCRIPTION)
.projects-title {
  font-size: $large;
  font-weight: bolder;
  margin-left: 6.25rem;
}

.projects-description {
  font-size: $small;
  margin-left: 6.25rem;
}

@media screen and (max-width: 450px) {
  .projects {
    width: 100%;
  }

  .projects-title {
    margin-left: 1.8rem;
  }

  .projects-description {
    margin-left: 1.8rem;
  }
}

// iPad
// @media screen 
//   and (min-width: 1024px)
//   and (max-width: 1366px) {
//     .projects-title {
//       margin-left: 1.5rem;
//     }
    
//     .projects-description {
//       margin-left: 1.5rem;
//     }
//   }