@import '../../sass/variables';

//CSS FOR INDIVIDUAL PROJECT COMPONENTS
.project-container {
  margin-left: 6.25rem;
  margin-bottom: .5rem;
}

h1 {
  margin-bottom: .5rem;
}

.project {
  background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
  display: flex;
  align-items: center;
  align-self: center;
  padding-bottom: 3rem;
}

.project-photo {
  margin: 0rem;
}

img {
  height: 12.5rem;
  width: 20.63rem;
}

.project-info {
  margin-left: 1.25rem;
}

.project-name {
  font-size: $medium;
  font-weight: bolder;
  margin-top: 0;
}

.project-techs {
  font-size: $small;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-description {
  font-size: $small;
}

.source-code {
  background-color: rgba(27,27,27,.91);
  border-style: none;
  border-radius: .63rem;
  color: $primary;
  font-size: medium;
  margin-top: .5rem;
  margin-right: 1rem;
  cursor: pointer;
  padding: .5rem;
}

//Mobile
@media screen and (max-width: 450px) {
  .project-container {
    margin-left: 0rem;
    margin: auto;
    width: 90%;
    text-align: center;
    background-color: black;
    }

    .project {
      background-image: linear-gradient(#292929, black);
      display: flex;
      flex-direction: column;
    }

    .project-description {
      text-align: left;
    }

    .project-hr {
      margin-top: .5rem;
      width: 50%;
    }
  }