@import '../../sass/variables';

//CSS FOR INDIVIDUAL PROJECT COMPONENTS
.project-container {
  margin-left: 6.25rem;
  margin-bottom: .5rem;
}

h1 {
  margin-bottom: .5rem;
}

.project {
  background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
  display: flex;
  align-items: center;
  align-self: center;
  padding-bottom: 3rem;
}

.project-photo {
  margin: 0rem;
}

img {
  height: 12.5rem;
  width: 20.63rem;
}

.project-info {
  margin-left: 1.25rem;
}

.project-name {
  font-size: $medium;
  font-weight: bolder;
  margin-top: 0;
}

.project-techs {
  font-size: $small;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-description {
  font-size: $small;
}

// Mobile (iPhone 12 and Pro)
@media screen 
  and (max-width: 390px) {
    .project {
      background-image: linear-gradient(#292929, black);
      margin-left: 0rem;
      display: flex;
      flex-direction: column;
      width: 100%
    }
  
    img {
      margin-top: 1.8rem;
    }

    .project-info {
      margin-left: 0rem;
    }
  
    .project-name {
      text-align: center;
    }
  
    .project-techs {
      margin-left: 1.8rem;
    }

    .project-description {
      margin-left: 1.8rem;
    }
  }

// iPad
// @media screen 
//   and (min-width: 1024px)
//   and (max-width: 1366px) {
//     .project {
//       margin-left: 1.5rem;
//     }
//   }