@import '../../sass/variables';

.about {
  color: $primary;
  height: 100vh;
  width: 100vh;
  background-color: black;
  display: table-cell;
  vertical-align: middle;
}

.about-title {
  font-size: $large;
  font-weight: bolder;
  margin-left: 6.25rem;
}

.about-name {
  font-size: $small;
  font-weight: 500;
  margin-left: 6.25rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.about-description {
  font-size: $small;
  margin-left: 6.25rem;
  margin-bottom: 6rem;
}

@media screen and (max-width: 450px) {
  .about {
    width: 100%;
  }

  .about-title {
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }

  .about-name {
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }

  .about-description {
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }
}

// iPad
// @media screen 
//   and (min-width: 1024px)
//   and (max-width: 1366px) {
//     .about-title {
//       margin-left: 1.5rem;
//     }

//     .about-name {
//       margin-left: 1.5rem;
//     }

//     .about-description {
//       margin-left: 1.5rem;
//     }
//   }