@import '../../sass/variables';

.home {
  background-color: black;
  color: $primary;
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  width: 100vh;
  align-items: center;
}

.home-name {
  font-size: $medium;
  font-weight: 500;
  margin-left: 6.25rem;
}

.home-title {
  font-size: $large;
  font-weight: 600;
  margin-left: 6.25rem;
  margin-top: 3.25rem;
  margin-bottom: 3.25rem;
}

.home-description {
  font-size: $small;
  margin-left: 6.25rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

// Mobile (iPhone 12 and Pro ,X)
@media screen 
  and (max-width: 390px) {
    .home {
      width: 100%;
    }

    .home-name {
      margin-left: 1.8rem;
    }

    .home-title {
      margin-left: 1.8rem;
      margin-right: 1.8rem;
    }

    .home-description {
      margin-left: 1.8rem;
      margin-right: 1.8rem;
    }
}

// iPad
// @media screen 
//   and (min-width: 1024px)
//   and (max-width: 1366px) {
//     .home-name {
//       margin-left: 1.5rem;
//     }

//     .home-title {
//       margin-left: 1.5rem;
//     }

//     .home-description {
//       margin-left: 1.5rem;
//     }
//   }