@import "../../sass/variables";

.home {
  background-color: black;
  color: $primary;
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
}

.home-name {
  font-size: $medium;
  font-weight: 500;
  margin-left: 6.25rem;
}

.home-title {
  font-size: $large;
  font-weight: 600;
  margin-left: 6.25rem;
  margin-top: 3.25rem;
  margin-bottom: 3.25rem;
}

.home-description {
  font-size: $small;
  margin-left: 6.25rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

// Mobile
@media screen and (max-width: 450px) {
  .home {
    background-color: transparent;
    margin-top: 2.5rem;
  }

  .home-name {
    margin-left: 1.5rem;
  }

  .home-title {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .home-description {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
