@import "../src/sass/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background-attachment: fixed;
  background-color: black;
  background-image: linear-gradient(0deg, #000, transparent 30%, transparent),
    url("./assets/cover/wportrait.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0 {
    background-position-x: 50%;
    background-position-y: 0px;
  }
}

// Mobile
@media screen and (max-width: 450px) {
  .app {
    background-attachment: fixed;
    background-color: black;
    background-image: linear-gradient(0deg, #000, transparent 50%),
      url("./assets/cover/mbwportrait.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 74% 0px {
      background-position-x: 74%;
      background-position-y: 0px;
    }
  }
}
