@import "../../sass/variables";

.web-nav-menu {
  align-items: center;
  padding-top: 0.94rem;
  padding-bottom: 0.94rem;
  padding-left: 6.25rem;
  display: flex;
  // margin-right: 6.25rem;
  // margin-left: 6.25rem;
  position: fixed;
  z-index: 1000;
  background-color: black;
  font-size: large;
  font-weight: bold;
  top: 0;
  width: 100%;
  line-height: 1.25rem;
}

.nav-link {
  background-color: black;
  color: $primary;
  margin: 0 3rem 0 0;
  text-decoration: none;
}

.nav-link:focus {
  color: $secondary;
}

.mobile-nav-menu {
  display: none;
}

@media screen and (max-width: 450px) {
  .web-nav-menu {
    display: none;
  }

  .mobile-nav-menu {
    display: flex;
    align-items: center;
    opacity: 0.9;
    background-color: black;
    color: white;
    top: 0;
    height: 15%;
    width: 100%;
  }

  .mobile-links {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;

    align-items: center;
    background-color: black;
    opacity: 0.9;
  }

  .mobile-nav-link {
    text-decoration: none;
    font-size: large;
    color: whitesmoke;
  }
}
