@import '../../sass/variables';

.nav-menu {
  align-items: center;
  //background-color: black;
  //font-size: large;
  //font-weight: bold;
  padding-top: 0.94rem;
  padding-bottom: 0.94rem;
  //position: fixed;
  //top: 0;
  //width: 100%;
  //overflow: hidden;

  display: block;
  margin-right: 6.25rem;
  margin-left: 6.25rem;
  position: fixed;
  z-index: 1000;
  background-color: black;
  font-size: large;
  font-weight: bold;
  top: 0;
  width: 100%;
  line-height: 1.25rem;
}

.nav-link {
  background-color: black;
  color: $primary;
  padding: 0 3rem 0 0;
  text-decoration: none;
}

.nav-link:hover {color: $secondary;}

@media screen and (max-width: 450px) {
  header {
    width: 100%;
  }
  nav {
    margin-left: 1.8rem;
    width: 100%;
  }
}

// iPad
// @media screen 
//   and (min-width: 1024px)
//   and (max-width: 1366px) {
//     header {
//       background-color: black;
//     }
//     nav {
//       background-color: black;
//       margin-left: 1.5rem;
//     }
//   }