@import "../../sass/variables";

.web-nav-menu {
  align-items: center;
  padding-top: 0.94rem;
  padding-bottom: 0.94rem;
  padding-left: 6.25rem;
  display: flex;
  position: fixed;
  z-index: 1000;
  background-color: black;
  font-size: large;
  font-weight: bold;
  top: 0;
  width: 100%;
  line-height: 1.25rem;
}

.nav-link {
  background-color: black;
  color: $primary;
  margin: 0 3rem 0 0;
  text-decoration: none;
}

.nav-link:focus {
  color: $secondary;
}

.mobile-nav-menu {
  display: none;
}

@media screen and (max-width: 450px) {
  .web-nav-menu {
    display: none;
  }

  .mobile-nav-menu {
    display: flex;
    align-items: center;
  }

  .menu-icon {
    // position: absolute;
    // right: 5%;
    // top: 1%;
  }

  .mobile-links {
    // display: flex;
    // flex-flow: column nowrap;
    // position: absolute;
    // top: 50px;
    // right: 0;
    // width: 100%;
    // align-items: center;
    // background-color: green;
    // opacity: 0.85;
  }

  .mobile-nav-link {
    text-decoration: none;
    // background-color: pink;
    font-size: large;
    color: whitesmoke;
    margin-right: 1rem;
    margin-left: 0.5rem;
  }

  .mobile-nav-link:focus {
    color: $secondary;
  }
}
